body {
  font-family: 'Raleway', sans-serif;
}

.concept {

  .columns {
    margin-top: 50px;
    margin-bottom: 50px;

    .container-img {
      background-color: $orange;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      padding: 30px;
      margin:auto;
      margin-bottom: 30px;

      svg {
        fill: $white;
      }
    }

    h3 {
      color: $darkgrey;
    }

    p {
      color: $lightgrey;
    }
  }
}

.bg-yellow {
  background-color: $yellow;
}
.bg-violet {
  background-color: $prune;
  margin: 0px;
  padding: 0px;
  height: 20px;
}


.pates {
  color: $white;
}

.pates, .pizza {
  // margin:50px 0px;
  padding: 50px 0px;

  img {
    border-radius: 10px;
  }

  h5 {
    margin-top: 20px;
  }

  .ingredients {
    margin-top: 10px;

    li {
      list-style-type: none;

      svg {
        width: 15px;
        height: 15px;
        fill: $orange;
      }
    }


  }
}
