body {
  font-family: 'Raleway', sans-serif;
}

.concept {

  @include breakpoint(small only) {
    margin-top: 20px;
  }

  .columns {
    margin: 50px auto;

    @include breakpoint(small only) {
      margin: 20px auto;
    }

    .container-img {
      background-color: $orange;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      padding: 30px;
      margin:auto;
      margin-bottom: 30px;

      svg {
        fill: $white;
      }
    }

    h3 {
      color: $darkgrey;
    }

    p {
      color: $lightgrey;
    }
  }
}

.bg-yellow {
  background-color: $yellow;
}
.bg-violet {
  background-color: $prune;
  margin: 0px;
  padding: 0px;
  height: 20px;
}


.pates, .salade {
  color: $white;
  h3 {
    @include breakpoint(small only) {
      margin-top: 30px;
    }
  }
}

.pizza {
  h3 {
    color: $darkgrey;
  }
  h5 {
    color: $lightgrey;
  }
  li {
    color: $lightgrey;
  }
}
.pates, .pizza, .salade {
  // margin:50px 0px;
  padding: 50px 0px;

  img {
    border-radius: 10px;
  }

  h3 {
    @include breakpoint(small only) {
      text-align: center;
    }
  }

  h5 {
    margin-top: 20px;
  }

  .ingredients {
    margin-top: 10px;

    li {
      list-style-type: none;

      svg {
        width: 15px;
        height: 15px;
        fill: $orange;
      }
    }


  }
}

.chat {

  .baseline {
    color: $white;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .chat-button {
    display: inline-block;
    margin: 50px 0px;
    border: 6px solid $orange;
    border-radius: 15px;
    padding: 15px 20px;
    color: $orange;
    font-size: 22px;

    @include breakpoint(small only) {
      font-size: 16px;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $orange;
      margin-right: 5px;

      @include breakpoint(small only) {
        width: 15px;
        height: 15px;
      }
    }
  }
}
