.top-bar, .top-bar-left ul {
  background-color: $jaune;
  color: white;

  .menu-logo {
    margin-left: 20px;
    margin-top: 10px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.header {
  background-color: $jaune;
  color: white;

  .row {
    .presentation {
      margin: 50px 0px 100px 50px;

      .logo {
        width: 400px;

        svg {
          // animation: pulse 5s 1;
          fill: $white;
        }
      }
    }
  }
}


// @keyframes pulse {
//   0% {
//     opacity: 0%;
//   }
//   100% {
//     opacity: 100%;
//   }
// }
