<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-logo">{{> tomato}}</li>
    </ul>
  </div>
</div>
<div class="container header">
  <div class="row align-middle">
    <div class="columns presentation">
      <div class="logo">
        {{> logo}}
      </div>
    </div>
    <div class="columns chat">
      <p class="baseline">Envie d'une bonne recette italienne ?</p>
      <a href="#" class="chat-button">{{> messenger}} Essayez notre Chat bot !</a>
    </div>
  </div>
</div>
